body, html {
  margin: 0;
  padding: 0;
  height: 100%;

}
body {
  font-family: 'Poppins', sans-serif;
  background: #f5f9f9;
}
body::-webkit-scrollbar{
  display: none;
}
header {
  position: fixed;
  top: 0;
 width: 100%;

padding-bottom: -50px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0); 
  backdrop-filter: blur(2px);    
  z-index: 1000;
}

header h1 {
  color: #003049;
  font-size: 32px;
  padding-left: 40px;
  
}

nav ul {
  padding-right: 100px;
  list-style: none;
  display: flex;
  gap: 65px;
}
nav ul li a {
  text-decoration: none;
  color:#003049;
  transition: 0.3s;
  font-weight: 500;
}

nav ul li a:hover {
  color: #3A86FF;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1001;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #3A86FF;
  display: block;
  border-radius: 2px;
  transition: 0.3s;
}


@media (max-width: 768px) {
  .hamburger {
    display: flex;
    position: absolute;
    right: 50px;
    top: 25px;
  }
header h1{
    margin-right: 70px;
  }
  .menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    text-align: center;
    display: none;
    flex-direction: column;
    padding: 20px 0;
    display: none;
  }

  .menu ul {
    flex-direction: column;
    gap: 20px;
  }

  .menu.active {
    display: flex;
  }

  nav ul li a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
  }
}
.menu ul li a:hover{
  color: #3A86FF;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Banner */
.hero-banner {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  animation: zoomInBanner 2s ease-out forwards;
  transform: scale(3);
}
@keyframes zoomInBanner {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.hero-text h1 {
  font-size: 3.5rem;
  letter-spacing: 4px;
}
.hero-text p {
  font-size: 1.2rem;
  margin-top: 10px;
}


/* Experiences Section */
.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  padding: 80px 50px;
  background-color: #ffffff;
}

.exp-card {
  background-color: #f9fbfc;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 20px #003049;
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.exp-card.visible {
  transform: translateY(0);
  opacity: 1;
}

.exp-card:hover {
  transform: scale(1.03);
}

.exp-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.exp-card h3 {
  color: #003049;
  margin-top: 20px;
  font-size: 1.3rem;
}

.exp-card p {
  color: #2B2D42;
  padding: 0 20px 30px;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* Footer */
.footer {
  background-color: #caf0f8;
  color: #2B2D42;
  text-align: center;
  padding: 30px 20px;
  font-size: 0.9rem;
}

/* Animations */
@keyframes zoomInBanner {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .menu ul {
    flex-direction: column;
    gap: 20px;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}


.mega-footer {
  background-color: #caf0f8;
  color: #fff;
  padding: 80px 50px 30px;
  font-family: 'Orbitron', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.mega-footer h3 {
  color:  #003049 ;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.mega-footer p, 
.mega-footer li, 
.mega-footer a {
  font-size: 0.95rem;
  color:#2B2D42;
  line-height: 1.6;
  text-decoration: none;
}

.footer-links ul,
.footer-help ul {
  list-style: none;
  padding: 0;
}

.footer-links li a,
.footer-help li a {
  color: #2B2D42;
  transition: 0.3s ease;
}

.footer-links li a:hover,
.footer-help li a:hover {
  color: #E76F51;
}

.footer-social h3{
  align-items: center;
}

.footer-social .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  
}

.social-icons a {
  display: inline-block;
  color: #fff;
  background-color: #003049;
  padding: 10px;
  border-radius: 100%;
  transition: 0.3s ease;
  border: 1px solid #003049;
  box-shadow: 0 0 10px rgba(255, 0, 128, 0.2);
  
}

.social-icons a:hover {
  background-color:  #003049;
  color: #000;
  box-shadow: 0 0 20px #ff0080;
}
@media (max-width: 992px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }

  .hero-content h1 {
    font-size: 3rem;
    letter-spacing: 10px;
  }

  .cards-container {
    flex-wrap: wrap;
    gap: 50px;
  }

  .family,
  .features-container,
  .journey-scroll-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-controls {
    margin-top: 280px;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 15px 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .hero-content {
    top: 45%;
    padding: 0 15px;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    letter-spacing: 6px;
  }

  .hero-content p {
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: -40px;
  }

  .btn {
    padding: 8px 18px;
    font-size: 14px;
  }

  .card {
    width: 90%;
    height: auto;
  }

  .testimonial-container {
    width: 90%;
  }

  .testimonial-controls {
    margin-top: 320px;
  }

  .feature-box {
    width: 90%;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.footer-bottom {
  text-align: center;
  padding-bottom: 4px;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #272C2B;
  background-color: #003049;
  
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: #003049;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, opacity 0.6s ease;
  opacity: 0;
  transform: translateY(30px);
}

.whatsapp-float img {
  width: 28px;
  height: 28px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color:  #005F73;
}


.whatsapp-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Theme Toggle Button */
.theme-toggle {
  background-color: transparent;
  color: #fff;
  border: 2px solid #003049;
  padding: 8px 15px;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  position: fixed;
  top: 25px;
  right: 0px;
  z-index: 9999;
}

.theme-toggle:hover {
  background-color: #003049;
  color: white;
}

/* Dark Theme */
body.dark-theme,
body.dark-theme .experience-grid {
  background-color: #343a40;
  color: #ffffff;
}

body.dark-theme header h1,
body.dark-theme .hero-text p{
  color: #212529;
}



body.dark-theme nav ul li a {
  color: #ffffff;
}

body.dark-theme nav ul li a:hover {
  color: #000000;
}


body.dark-theme .hero-banner {
  background-color: #2b2b2b;
}

body.dark-theme .exp-card {
  background-color: #4f5d75;
 box-shadow: 0 0 10px #adb5bd;
}

body.dark-theme .exp-card h3 {
  color: #212529;
}
body.dark-theme .exp-card p{
  color: white;
}
body.dark-theme header h1,
body.dark-theme .hero-banner p,
body.dark-theme .footer-container h3 {
  color: #212529;
}

body.dark-theme .footer-container p{
  color: white;
}
body.dark-theme .footer,
body.dark-theme .mega-footer,
body.dark-theme .footer-bottom {
  background-color: #1c1c1c;
  color: #ccc;
}
body.dark-theme .footer a,
body.dark-theme .mega-footer a {
  color: #ccc;
}
body.dark-theme .social-icons a {
  background-color: black;
}
body.dark-theme .footer-container h3{
  color: #343a40;
}
body.dark-theme .social-icons a:hover{
  background-color:#343a40;
  box-shadow: 0 0 20px #adb5bd;
}
